h2{
	font-size: 50px;
	text-align: center;
}
.button1 button{
	margin: 5px;
	padding: 5px;
	border-radius: 8px;
	background-color: #ff5050;

}	
.button1 button a{
	text-decoration: none;
	color: black;
}
hr{
	color: black;
}
.button2 button{
	margin: 5px;
	padding: 5px;
	border-radius: 8px;


}	
.button2 button a{
	text-decoration: none;
	color: black;
}